In [1]:
from sklearn.datasets import load_iris
import pandas as pd

data = load_iris()
df = pd.DataFrame(data.data, columns=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])
df['y'] = data.target

df

     sepal_length  sepal_width  petal_length  petal_width  y
0             5.1          3.5           1.4          0.2  0
1             4.9          3.0           1.4          0.2  0
2             4.7          3.2           1.3          0.2  0
3             4.6          3.1           1.5          0.2  0
4             5.0          3.6           1.4          0.2  0
..            ...          ...           ...          ... ..
145           6.7          3.0           5.2          2.3  2
146           6.3          2.5           5.0          1.9  2
147           6.5          3.0           5.2          2.0  2
148           6.2          3.4           5.4          2.3  2
149           5.9          3.0           5.1          1.8  2

[150 rows x 5 columns]

In [4]:
# Création de la table IRIS DATA
import sqlalchemy as db
import random

from utiles.functions import DataBaseV2

data = DataBaseV2(db_name='Iris_DATA', db_type='sqlite')
data.create_table('iris_data', 
                  id_columns=db.Integer, 
                  sepal_length=db.Float, 
                  sepal_width=db.Float,
                  petal_length=db.Float,
                  petal_width=db.Float)

# Injection dans la base de données
n_lines = random.randint(0, len(df)-10)

for n in range(n_lines, n_lines+10):
    data_value = df.iloc[n]
    data.insert_row('iris_data',
                    id_columns=n,
                    sepal_length = data_value.sepal_length,
                    sepal_width = data_value.sepal_width,
                    petal_length = data_value.petal_length,
                    petal_width = data_value.petal_width)

ModuleNotFoundError: No module named 'utiles'

In [5]:
data.dataframe('iris_data')

AttributeError: dataframe

In [6]:
from plugins.utiles.functions import *

df = DataBaseV2(db_name='airflow', db_type='sqlite').dataframe("iris_data")
df

     id_columns  sepal_length  sepal_width  petal_length  petal_width  y
0             0           5.1          3.5           1.4          0.2  0
1             1           4.9          3.0           1.4          0.2  0
2             2           4.7          3.2           1.3          0.2  0
3             3           4.6          3.1           1.5          0.2  0
4             4           5.0          3.6           1.4          0.2  0
..          ...           ...          ...           ...          ... ..
145         145           6.7          3.0           5.2          2.3  2
146         146           6.3          2.5           5.0          1.9  2
147         147           6.5          3.0           5.2          2.0  2
148         148           6.2          3.4           5.4          2.3  2
149         149           5.9          3.0           5.1          1.8  2

[150 rows x 6 columns]

In [7]:
df.y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: y, Length: 150, dtype: int64

In [8]:
df['y']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: y, Length: 150, dtype: int64

In [4]:
import os
os.environ['AWS_ACCESS_KEY_ID'] = "AKIA3R62MVALLDMAF37Q"
os.environ['AWS_SECRET_ACCESS_KEY'] = "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"

TypeError: str expected, not NoneType